body {
	display: flex;
	justify-content: center;
}
#gameBoard {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    position: relative;
	width: 1600px;
	height: 1200px;
	border: 1px solid white;
	background-color: black;
	margin-top: 50px;
}

#space {
	display: flex;
	justify-content: center;
    flex-direction: column;
	width: 70vw;
	height: 60vh;
	border-left: 3px solid white;
	border-right: 3px solid white;
	border-top: 3px solid white;
}

.row1 {
    margin-top: -155px;
}
.row1, .row2, .row3, .row4 {
    display: flex;
    justify-content: center;    
    width: 70vw;
    height: 20vh; 
    margin-bottom: -190px;   
}

.alien, .alien2, .alien3, .alien4 {
    display: flex;
	justify-content: center;
	/* border: 1px solid white; */
	width: 70px;
	height: 70px;
    margin-right: 15px;    

}

.alienImg1 {
width: 70px;
height: 70px;
position: relative;

}

.alienImg2 {
width: 70px;
height: 70px;
position: relative;

}

#base {
	display: flex;
	justify-content: center;    
	width: 70vw;
	height: 30vh;
	border-left: 3px solid white;
	border-right: 3px solid white;
	border-bottom: 3px solid white;
	z-index: 10;
}

.barrier {
	display: flex;
	justify-content: center;
	/* border: 1px solid white; */
	width: 100px;
	height: 100px;
	margin-right: 200px;
	margin-top: 150px;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.box {
    background-color: green;
    border-radius: 30px;
    height: 4px;
    width: 4px; 
}

.end {
	margin-right: 0;
}

#ship {    
    position: fixed;
	
}

.turret {
    
	width: 200px;
	height: 110px;
	margin-top: 280px;    
}

.tank {
    width: 200px;
	z-index: -1;
    height: 110px;
	position: fixed;
	opacity: 70%;
}
